body {
  margin: 0;
  font-family: 'SegoeUI-Regular-final', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

html {
  overflow-y:scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  margin: 3vh 15vh;
}

@media screen and (max-width: 1440px) {
  .container {
    margin: 2vh 5vh;
  }
}

.siteTitle,
.siteDescription {
  color: var(--neutrals-web-gray-190201-f-1-e, #201F1E);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: SegoeUI-Regular-final, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.siteTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.siteDescription {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 1200px;
}